@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --border-color: black;

  /* Recurrent */
  --border: 2px solid var(--border-color);
  --box-shadow: 4px 4px black;
  --big-box-shadow: 10px 10px black;

  /* Colors */
  --white: #f5f5ef;
  --orange: #ffdd99;
  --yellow: #fff699;
  --green: #99ffcc;
  --light-blue: #cce1ff;
  --dark-blue: #006880;
  --salmon: #ff9999;
  --pink: #f6ccff;
  --blue: #99ecff;
  --purple: #ae99ff;
}

* {
  margin: 0;
  padding: 0;
}

*:not(body) {
  transition: all 0.2s ease-in-out;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100dvh;
}

main {
  min-height: 100dvh;
}

.exa {
  font-family: "Lexend Exa", sans-serif;
  text-stroke: 0.5px var(--border-color);
  -webkit-text-stroke: 0.5px var(--border-color);
}

.deca {
  font-family: "Lexend Deca", sans-serif;
  text-stroke: 0.5px var(--border-color);
  -webkit-text-stroke: 0.5px var(--border-color);
}

.giga {
  font-family: "Lexend Giga", sans-serif;
  text-stroke: 0.5px var(--border-color);
  -webkit-text-stroke: 0.5px var(--border-color);
}
